
body{
    margin: 0;
    font-family: sans-serif;
}
header h1{
    background-color: #6295ED;
    margin: 0;
    color: white;
    text-align: center;
    padding: 1rem;
}
main{
    margin: 2rem;
}
section h2{
    color: #6295ED ;
}
li{
    list-style-type: circle;
    margin: .5rem;
}
.importante{
    font-weight: bold;
    text-decoration: underline;
}
thead tr{
    background-color: #6295ED ;
    color: white;    
}
thead tr th{
    padding: .7rem;
}
tbody tr th{
    font-weight: bold;
    background-color:rgba(139,176,246, .8);
    padding: .5rem;
}
tbody tr td{
    text-align: center;
}
tbody tr:nth-child(odd){
    background-color:rgba(139,176,246, .4);
}

tbody tr:nth-child(even){
    background-color:rgba(139,176,246, .8);
}

#descanso{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}