@import url(./base.css);
body{
    display: grid;
    grid-template-rows: 10rem 2rem 1fr 2rem;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
form{
    display: flex;
}
header nav menu{
    display: flex;
    gap: 1rem;
}
header nav menu li{
    display: flex;
}

body nav menu{
    display:flex;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
}

article{
    display: flex;
    flex-direction: column;
}

.description{
    flex-grow: 1;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media(min-width:600px){
    body{
        grid-template-rows: 5rem 1fr 2rem;
        grid-template-columns: 10rem 1fr;
    }

    header, footer{
        grid-column: span 2;
    }
    header{
        flex-direction: row;
        justify-content: space-between;
    }
    body > nav menu{
        flex-direction: column;
    }
    footer{
        justify-content: center;
        gap:2rem
    }
}